<div class="container-fluid custom_container">
  <div class="card mt-2 mb-2">
    <div class="card-header bg-card-header">Board</div>
    <div class="">
      <p-table
        [value]="board"
        styleClass="p-datatable-gridlines"
        [tableStyle]="{ 'min-width': '50rem' }"
        [scrollable]="true"
        scrollHeight="400px"
        >
        <ng-template pTemplate="header">
          <tr>
            <th class="custom_font_color">Property Name</th>
            <th class="custom_font_color">Rent Status</th>
            <th class="custom_font_color">Rent</th>
            <th class="custom_font_color">Total Issue</th>
            <th class="custom_font_color">Next Rent Due On</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-property>
          <tr>
            <td>{{ property.propertyName }}</td>
            <td>
              {{
              property.rentAmount != null
              ? property.rentDue <= 0.0
              ? "Paid"
              : "Rent Due"
              : "Rent Not Yet Generated"
              }}
            </td>
            <td>
              <a
                href="javascript:void(0)"
                [routerLink]="'/landlord/rent-portal/' + property.tenantId"
                >View/Manage
              </a>
            </td>

            <td>
              @if (property.totalIssue) {
                <span>
                  <a
                    href="javascript:void(0)"
                    routerLink="/landlord/tenant/issue-tracker"
                    >{{ property.totalIssue }}
                  </a>
                </span>
              } @else {
                {{ property.totalIssue }}
              }
            </td>
            <td>
              {{
              property.nextRentDueOn != null
              ? (property.nextRentDueOn | date : "dd/MM/yyyy")
              : "Rent Not Yet Generated"
              }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
