<div class="container-fluid custom_container custom_container p-1">
  <div class="card">
    <div class="card-header bg-card-header">Create a Ticket</div>
    <div class="card-body">
      <form [formGroup]="ticketCreateForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <label for="property" class="form-label">Property</label>
            <select
              formControlName="property"
              class="form-select"
              id="property"
              >
              <option value="">Choose Property</option>
              @for (item of propertyDropDown; track item) {
                <option [ngValue]="item">
                  {{ item.name }}
                </option>
              }
            </select>
            @if (f['property'].invalid && f['property'].touched) {
              <div
                class="text-danger"
                >
                Please select a category.
              </div>
            }
          </div>
          <div class="col-md-6">
            <label for="tenant" class="form-label">Tenant</label>
            <select formControlName="tenant" class="form-select" id="tenant">
              <option value="">Choose Tenant</option>
              @for (item of tenantDropDown; track item) {
                <option [ngValue]="item">
                  {{ item.name }}
                </option>
              }
            </select>
            @if (f['tenant'].invalid && f['tenant'].touched) {
              <div
                class="text-danger"
                >
                Please select a Tenant.
              </div>
            }
          </div>
          <div class="col-md-6">
            <label for="category" class="form-label">Category</label>
            <select
              formControlName="category"
              class="form-select"
              id="category"
              >
              <option value="">Choose Category</option>
              <option value="Electrical">Electrical</option>
              <option value="Plumbing">Plumbing</option>
              <option value="Woodwork">Woodwork</option>
              <option value="Exterior">Exterior</option>
              <option value="Furniture">Furniture</option>
              <option value="Others">Others</option>
            </select>
            @if (f['category'].invalid && f['category'].touched) {
              <div
                class="text-danger"
                >
                Please select a category.
              </div>
            }
          </div>
          <div class="col-md-6">
            <label for="description" class="form-label">Description</label>
            <textarea
              formControlName="description"
              class="form-control"
              id="description"
              rows="3"
              placeholder="Enter description"
            ></textarea>
            @if ( f['description'].errors && f['description'].errors['maxlength']) {
              <div class="text-danger">
                Maximum length exceeded ({{ f['description'].value.length }}/{{ f['description'].errors['maxlength'].requiredLength}})
              </div>
            }

            @if (f['description'].invalid && f['description'].touched && f['description'].errors && f['description'].errors['required']) {
              <div
                class="text-danger"
                >
                Please enter a description.
              </div>
            }
          </div>
          <div class="pt-1">
            <button
              type="submit"
              [disabled]="ticketCreateForm.invalid"
              class="btn btn-success"
              >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card mt-2 mb-2 pt-0">
    <div class="card-header bg-card-header">Issue Tracker</div>
    <div class="ml-3">
      <p-table
        #myTab
        [value]="ticketList"
        styleClass="p-datatable-gridlines p-datatable-sm"
        [tableStyle]="{ 'min-width': '50rem' }"
        [scrollable]="true"
        scrollHeight="400px"
        >
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Ticket Number</th>
            <th class="custom_font_color">Property Name</th>
            <th class="custom_font_color">Tenant Name</th>
            <th class="custom_font_color">Category</th>
            <th class="custom_font_color">Description</th>
            <th class="custom_font_color">Action</th>
            <th class="custom_font_color">Created Date</th>
            <th class="custom_font_color" class="custom_font_color">
              Updated Date
            </th>
            <th class="custom_font_color">Comments</th>
            <th class="custom_font_color">Action</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-ticket let-rowIndex="rowIndex">
          <tr class="custom_font_color">
            <td>{{ rowIndex + 1 }}</td>
            <td class="custom_font_color">
              {{ ticket.id }}
            </td>
            <td class="custom_font_color">
              {{ ticket.propertyName }}
            </td>
            <td class="custom_font_color">
              {{ ticket.tenantName }}
            </td>
            <td class="custom_font_color">
              {{ ticket.category }}
            </td>
            <td
              class="custom_font_color"
              [tooltipPosition]="'left'"
              [appendTo]="'body'"
              [fitContent]="true"
              pTooltip="{{ ticket.description }}"
              style="
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              "
              >
              {{ ticket.description }}
            </td>
            <td class="custom_font_color">
              {{ ticket.status[0]?.status }}
            </td>
            <td class="custom_font_color">
              {{ ticket.dateCreated | date : "dd/MM/yyyy" }}
            </td>
            <td class="custom_font_color">
              {{ ticket.status[0]?.dateModified | date : "dd/MM/yyyy" }}
            </td>
            <td
              class="custom_font_color"
              class="truncate"
              [tooltipPosition]="'left'"
              [appendTo]="'body'"
              [fitContent]="true"
              pTooltip="{{ ticket.status[0]?.comment }}"
              >
              {{ ticket.status[0]?.comment }}
            </td>
            <td>
              <a href="javascript:void(0)" (click)="ticketHistory(ticket)"
                >Edit</a
                >
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
