@if (ongoingTenancy) {
  <div
    class="container custom_container custom_font_color mt-1"
    >
    <div class="row">
      <div class="col-md-6">
        <h3>Add Action</h3>
        <hr />
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="mb-3">
            <label for="actionType" class="form-label">Status</label>
            <select class="form-select" id="actionType" formControlName="status">
              <option value="">-- Select --</option>
              <option value="New">New</option>
              <option value="Pending">Pending</option>
              <option value="Cancelled">Cancelled</option>
              <option value="Closed">Closed</option>
            </select>
            @if (
              f['status'].invalid && (f['status'].dirty || f['status'].touched)
              ) {
              <div
                class="text-danger"
                >
                @if (f['status'].errors && f['status'].errors['required']) {
                  <div>
                    Status is required
                  </div>
                }
              </div>
            }
          </div>
          <div class="mb-3">
            <label for="comments" class="form-label">Comments</label>
            <textarea
              class="form-control"
              id="comments"
              rows="3"
              formControlName="comments"
            ></textarea>
            @if (
              f['comments'].invalid &&
              (f['comments'].dirty || f['comments'].touched)
              ) {
              <div
                class="text-danger"
                >
                @if (f['comments'].errors && f['comments'].errors['required']) {
                  <div
                    >
                    Comments is required
                  </div>
                }
                @if (f['comments'].errors && f['comments'].errors['maxlength']) {
                  <div
                    >
                    Maximum length is 500 characters
                  </div>
                }
              </div>
            }
          </div>
          <button
            pButton
            type="submit"
            class="p-button-sm"
            [disabled]="form.invalid"
            label="Submit"
          ></button>
          <button
            pButton
            type="button"
            class="p-button-sm p-button-secondary"
            routerLink="/user/ticket-create"
            label="Back"
          ></button>
        </form>
      </div>
      @if (ticketHistory.length) {
        <div class="col-md-6">
          <h3>History</h3>
          <hr />
          <div class="card mb-1">
            <div class="card-body">
              <p>
                <strong>Property Name:</strong> {{ ticket.propertyName }} <br />
                <strong>Description:</strong> {{ ticket.description }}
              </p>
            </div>
          </div>
          <div class="chat-history" style="height: 500px; overflow-y: auto">
            @for (item of ticketHistory; track item) {
              <div class="card mb-1">
                <div class="card-body">
                  <h5 class="card-title mb-3">Status: {{ item?.status }}</h5>
                  <p class="card-text">
                    <span class="font-weight-bold">{{ item?.name }}</span> commented
                    on
                    <span class="font-italic">{{
                      item?.createdDate | date : "dd/MM/yyyy h:mm:ss a"
                      }}</span
                      >: {{ item?.comment }}
                    </p>
                  </div>
                </div>
              }
            </div>
          </div>
        }
      </div>
    </div>
  }
