<div class="container-fluid custom_container">
  <div class="card mt-3 mb-2">
    <div class="card-header bg-card-header">Rent Portal</div>
    @if (paymentDetails.length) {
      <div class="row">
        <p-table
          [value]="paymentDetails"
          styleClass="p-datatable-gridlines p-datatable-sm"
          [tableStyle]="{ 'min-width': '50rem' }"
          [scrollable]="true"
          scrollHeight="400px"
          >
          <ng-template pTemplate="header">
            <tr>
              <th class="custom_font_color">Month</th>
              <th class="custom_font_color">Rent Amount</th>
              <th class="custom_font_color">Rent Paid</th>
              <th class="custom_font_color">Last Rent Paid Date</th>
              <th class="custom_font_color">Due Date</th>
              <th class="custom_font_color">Rent Due</th>
              <!-- <th class="custom_font_color">Payment Mode</th> -->
              <th class="custom_font_color">Late Payment Charges</th>
              <th class="custom_font_color">Comments</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-property>
            <tr>
              <td>{{ property.month }}</td>
              <td>{{ property.rentAmount }}</td>
              <td>{{ property.rentPaid }}</td>
              <td>{{ property.lastRentPaidDate | date }}</td>
              <td>{{ property.rentDate | date }}</td>
              <td>{{ property.rentDue }}</td>
              <!-- <td>{{ property.paymentMode }}</td> -->
              <td>{{ property.latePaymentCharges }}</td>
              <td>{{ property.comments }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    } @else {
      <strong> No Payment History Found</strong>
    }
  </div>

  @if (paymentDetails.length) {
    <div class="form-group">
      <div class="row m-1 pt-4">
        @if (userdetail.roleName && userdetail.roleName == 'Landlord') {
          <div
            class="col-md-2 add_pt"
            >
            <input
              #cashInput
              type="text"
              [(ngModel)]="cashAmount"
              placeholder="Amount"
              class="form-control"
              currencyMask
          [options]="{
            align: 'left',
            precision: 0,
            allowNegative: false,
            prefix: '£'
          }"
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
              />
            </div>
          }
          @if (userdetail.roleName && userdetail.roleName == 'Landlord') {
            <div
              class="col-md-2 add_pt"
              >
              <button
                pButton
                type="button"
                class="p-button-sm form-control"
                label="Enter Cash Payment"
                (click)="addCashAmount()"
              ></button>
            </div>
          }
          @if (userdetail.roleName && userdetail.roleName == 'Landlord') {
            <div
              class="col-md-2 add_pt"
              >
              <input
                type="text"
                [(ngModel)]="lateChargeAmount"
                placeholder="Amount"
                class="form-control"
                currencyMask
          [options]="{
            align: 'left',
            precision: 0,
            allowNegative: false,
            prefix: '£'
          }"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                />
              </div>
            }
            @if (userdetail.roleName && userdetail.roleName == 'Landlord') {
              <div
                class="col-md-3 add_pt"
                >
                <button
                  pButton
                  type="button"
                  class="p-button-sm form-control nowrap"
                  label="Enter Late Payment Charges"
                  (click)="addLateCharge()"
                ></button>
              </div>
            }
            @if (userdetail.roleName && userdetail.roleName == 'Landlord') {
              <div
                class="col-md-3 add_pt"
                >
                <button
                  pButton
                  type="button"
                  class="p-button-sm form-control"
                  label="Send Payment Reminder"
                  (click)="sendPaymentReminder()"
                ></button>
              </div>
            }
          </div>
        </div>
      }
    </div>
