
<div class="section-2 wf-section">
  <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease"
      role="banner" class="navbar-no-shadow-container w-nav">
      <div class="container-regular">
          <div class="navbar-wrapper"><a href="#" class="navbar-brand w-nav-brand"><img
                      src="https://uploads-ssl.webflow.com/6436cb724941241bb5c93c72/6436def59ce297e0fb2f01a3_Screenshot%202023-04-12%20at%2010.09.56%20PM.png"
                      loading="lazy" sizes="60px" width="60"
                      srcset="https://uploads-ssl.webflow.com/6436cb724941241bb5c93c72/6436def59ce297e0fb2f01a3_Screenshot%202023-04-12%20at%2010.09.56%20PM-p-500.png 500w, https://uploads-ssl.webflow.com/6436cb724941241bb5c93c72/6436def59ce297e0fb2f01a3_Screenshot%202023-04-12%20at%2010.09.56%20PM-p-800.png 800w, https://uploads-ssl.webflow.com/6436cb724941241bb5c93c72/6436def59ce297e0fb2f01a3_Screenshot%202023-04-12%20at%2010.09.56%20PM-p-1080.png 1080w, https://uploads-ssl.webflow.com/6436cb724941241bb5c93c72/6436def59ce297e0fb2f01a3_Screenshot%202023-04-12%20at%2010.09.56%20PM.png 1392w"
                      alt="" /></a>
              <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
                  <ul role="list" class="nav-menu w-list-unstyled">
                    <li><a href="https://lordhood.tawk.help" class="nav-link" target="_blank">Help</a></li>
                      <li><a href="javascript:void(0)" class="nav-link" (click)="highlightSection('AboutUs')">About LH</a></li>
                      <li><a href="javascript:void(0)" class="nav-link" (click)="highlightSection('ContactUS')">Contact US</a></li>
                      <li><a href="javascript:void(0)" class="nav-link" (click)="highlightSection('Pricing')">Pricing</a></li>
                      <li><a  href="javascript:void(0)" (click)="login()" class="nav-link">Sign In</a></li>
                      <li class="mobile-margin-top-10">
                          <div class="nav-button-wrapper"><a href="javascript:void(0)"
                            (click)="onLordSignUp()" class="button-primary w-button">SignUP For
                                  Free</a></div>
                      </li>
                  </ul>
              </nav>
              <div class="menu-button w-nav-button">
                  <div class="w-icon-nav-menu"></div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="text-block-4">Simplifying Tenancy<br />For Everyone</div>
<section class="hero-heading-center wf-section">
  <div class="container-2">
      <h1 class="centered-heading margin-bottom-32px">Lordhood - Redefining Tenancy</h1>
      <div class="hero-wrapper">
          <div class="hero-split">
              <p class="margin-bottom-24px">Introducing Lordhood - the all-in-one solution for managing your
                  rental properties. We don&#x27;t do a lot of things, but we ensure to do the important things,
                  right!<br /><br />We offer a user-friendly interface and powerful features, that’ll help you
                  save time, reduce stress and increase efficiency. The 4 fundamental issues we solve are:</p>
              <div class="text-block-5">&gt; <strong class="bold-text-2">Property Management</strong> - Keep track
                  of multiple properties <br />&gt; <strong class="bold-text-3">Tenancy Management</strong> - Add
                  &amp; manage tenants <br />&gt; <strong class="bold-text-4">Collect Rent</strong> - Hassle free
                  online rent collection<br />&gt; <strong class="bold-text-5">Issue Tracking</strong> - Quickly
                  and easily report and resolve any property issues<br />‍</div><a href="#"
                  class="button-primary-2 w-button" (click)="onLordSignUp()">Signup for free</a>
          </div>
          <div class="hero-split"><img
                  src="https://uploads-ssl.webflow.com/6436cb724941241bb5c93c72/643d826b38d90ffcb0e32775_Simplifying%20Tenancy.gif"
                  loading="lazy" width="450" alt="" class="shadow-two" /></div>
      </div>
  </div>
</section>
<section id="Features" class="features-table wf-section">
  <div class="container-2">
      <h2 class="centered-heading">Why Lordhood?</h2>
      <p class="centered-subheading">With our application, you&#x27;ll have all the tools you need to manage your
          rental properties with ease. Try us today and see the difference we make in your property management
          experience!</p>
      <div class="comparison-table">
          <div class="comparison-row-main">
              <h3 class="comparison-title">Other Services</h3>
              <h3 class="comparison-title">Lordhood</h3>
          </div>
          <div class="comparison-row">
              <div id="w-node-_4dbdec70-ea29-e1fa-84bb-05bf39b667ae-14c93c7b" class="comparison-negative">Provide
                  services focused towards agents</div>
              <div id="w-node-_4dbdec70-ea29-e1fa-84bb-05bf39b667b0-14c93c7b" class="comparison-positive">We focus
                  on you, the landlords</div>
          </div>
          <div class="comparison-row">
              <div id="w-node-_4dbdec70-ea29-e1fa-84bb-05bf39b667b3-14c93c7b" class="comparison-negative">Offer
                  you a ton of services you&#x27;ll never need. </div>
              <div id="w-node-_4dbdec70-ea29-e1fa-84bb-05bf39b667b5-14c93c7b" class="comparison-positive">Give you
                  the exact tools you need </div>
          </div>
          <div class="comparison-row">
              <div id="w-node-_4dbdec70-ea29-e1fa-84bb-05bf39b667b8-14c93c7b" class="comparison-negative">No
                  trial, charge you high, charge you for everything</div>
              <div id="w-node-_4dbdec70-ea29-e1fa-84bb-05bf39b667ba-14c93c7b" class="comparison-positive">2-months
                  free trial - after that a reasonable uniform fee.</div>
          </div>
          <div class="comparison-row">
              <div id="w-node-_4dbdec70-ea29-e1fa-84bb-05bf39b667bd-14c93c7b" class="comparison-negative">No issue
                  management service</div>
              <div id="w-node-_4dbdec70-ea29-e1fa-84bb-05bf39b667bf-14c93c7b" class="comparison-positive">Issue
                  management and reporting for each property</div>
          </div>
          <div class="comparison-row">
              <div id="w-node-_4dbdec70-ea29-e1fa-84bb-05bf39b667c2-14c93c7b" class="comparison-negative">Store
                  the financial data themselves</div>
              <div id="w-node-_4dbdec70-ea29-e1fa-84bb-05bf39b667c4-14c93c7b" class="comparison-positive">Partner
                  with Stripe to handle all financial transactions securely</div>
          </div>
          <div class="comparison-row">
              <div id="w-node-_4dbdec70-ea29-e1fa-84bb-05bf39b667c7-14c93c7b" class="comparison-negative">Complex
                  customer support</div>
              <div id="w-node-_4dbdec70-ea29-e1fa-84bb-05bf39b667c9-14c93c7b" class="comparison-positive">
                  Available always - personal resolution to your queries</div>
          </div>
      </div>
  </div>
</section>
<section id="Pricing" class="pricing-overview wf-section">
  <div class="container-2">
      <h2 class="centered-heading">Pricing</h2>
      <p class="pricing-description">We offer you 2 months of no-committment trial for free, without any credit
          card requirments. Sign up with Stripe for receiving rent. <br /></p>
      <div class="pricing-grid">
          <div id="w-node-_13e34f29-0919-4dfb-e19b-84e7bc4bf1f7-14c93c7b" class="pricing-card-three">
              <h3 class="heading-4">Free 2-Months</h3>
              <p class="pricing-card-text">Get 2 months free trial after sign-up. No credit card needed.
                  You&#x27;ll be asked to pay if you wish to continue using the services beyond two
                  months.<br /><br />All the features are free to use except rent collection, which will have its
                  gateway and management charges. </p>
          </div>
          <div id="w-node-_13e34f29-0919-4dfb-e19b-84e7bc4bf201-14c93c7b" class="pricing-card-three">
              <h3 class="heading-3">£3.3/month After Trial</h3>
              <p class="pricing-card-text">After your two months trial, pay £40 yearly (just £3.3/month) for all
                  of the services (billed annually). Even if you renew early, your paid subscription will start
                  after 60 days of free use. <br /><br />You&#x27;ll recieve reminders in due course. Non-active
                  accounts stay with us, but in dormant stage. </p>
          </div>
          <div id="w-node-_13e34f29-0919-4dfb-e19b-84e7bc4bf20b-14c93c7b" class="pricing-card-three">
              <h3 class="heading-2">1.5% Rent Charge</h3>
              <p class="pricing-card-text">All online rent payment/collection has a flat 1.5%+ Stripe gateway
                  charge towards managing the financial transactions. This is charged during the trial period as
                  well. <br /><br />You can see the latest Stripe charges <a
                      href="https://stripe.com/gb/pricing">here</a>. You can enter the cash transactions in the
                  system yourself for no charge. </p>
          </div>
      </div>
  </div>
</section>
<section id="AboutUs" class="team-circles wf-section">
  <div class="container-4">
      <h2 class="centered-heading-2">Meet our Women Entrepreneurs!</h2>
      <p class="centered-subheading-2">Meet the two wonderful women behind Lordhood!<br /><br />Sudarshana (Sud)
          and Sheela got together in Jan 2023 to solve the tenancy problem. Sud is resident of UK and she has been
          having troubles managing the properties she owns. She came up with the idea and together with her school
          buddy Sheela, the Lordhood was born.<br /><br />They both are professionals in IT and Hospitality area
          for over a decade and have learnt quite a few business lessons on the way. Say them hello over LinkedIn
          or reach out to Lordhood using the Contact Us section below! <br /><br />Happy renting!</p>
      <div class="w-layout-grid grid-4">
          <div id="w-node-_1aeb8910-3092-f3bc-5588-4030eefc8fb3-14c93c7b"><img
                  src="https://uploads-ssl.webflow.com/6436cb724941241bb5c93c72/643e5d0700a53b24d29280db_sud.jpeg"
                  loading="lazy" id="w-node-dfc8d433-ef0c-cc33-7fc4-bee8b09741a0-14c93c7b" alt=""
                  class="image-2" />
              <div class="text-block-6">Sud</div>
          </div>
          <div id="w-node-ca91bb4d-20dc-70b5-3731-f26634429197-14c93c7b"><img
                  src="https://uploads-ssl.webflow.com/6436cb724941241bb5c93c72/644009f312d7d06f2b75e7a2_Sheela%20LH_n.jpg"
                  loading="lazy" id="w-node-_81c74d3f-0b84-c2fb-e827-f1f805de1486-14c93c7b"
                  sizes="(max-width: 479px) 66vw, (max-width: 767px) 67vw, (max-width: 991px) 65vw, (max-width: 1439px) 66vw, 658px"
                  srcset="https://uploads-ssl.webflow.com/6436cb724941241bb5c93c72/644009f312d7d06f2b75e7a2_Sheela%20LH_n-p-500.jpg 500w, https://uploads-ssl.webflow.com/6436cb724941241bb5c93c72/644009f312d7d06f2b75e7a2_Sheela%20LH_n.jpg 765w"
                  alt="" class="image-3" />
              <div class="text-block-7">Sheela</div>
          </div>
      </div>
  </div>
</section>
<section id="ContactUS" class="testimonial-stack wf-section">
  <div class="container-2">
      <div class="testimonial-card-three">
          <div class="testimonial-card-content">
              <h3 class="testimonial-card-heading">We are just a ping away!</h3>
              <p class="testimonial-text-three">Drop an email for any questions - admin@lordhood.me<br /><br />Or
                  Scan the QR code below to WhatsApp us</p>
              <div class="testimonial-info-four"><img
                      src="https://uploads-ssl.webflow.com/6436cb724941241bb5c93c72/643e32b53262814eb69cb701_QR%20LH.png"
                      loading="lazy" sizes="(max-width: 479px) 47vw, 120px"
                      srcset="https://uploads-ssl.webflow.com/6436cb724941241bb5c93c72/643e32b53262814eb69cb701_QR%20LH-p-500.png 500w, https://uploads-ssl.webflow.com/6436cb724941241bb5c93c72/643e32b53262814eb69cb701_QR%20LH-p-800.png 800w, https://uploads-ssl.webflow.com/6436cb724941241bb5c93c72/643e32b53262814eb69cb701_QR%20LH.png 966w"
                      alt="" class="testimonial-image centered" /></div>
          </div>
      </div>
  </div>
</section>
<section class="footer-subscribe wf-section">
  <div class="container-3">
      <div class="footer-wrapper-three">
          <div class="footer-block-three"><a href="javascript:void(0)" class="footer-link-three"  (click)="onLordSignUp()">Signup for Free</a><a
            href="javascript:void(0)"(click)="highlightSection('Features')" class="footer-link-three">Features</a><a href="javascript:void(0)"
                  class="footer-link-three" (click)="highlightSection('Pricing')" >Pricing</a><a href="https://stripe.com/gb"
                  class="footer-link-three">Payments Partner Stripe <sup>©</sup> </a></div>
          <div class="footer-social-block-three"><a href="https://www.facebook.com/lordhoodme"
                  class="footer-social-link-three w-inline-block"><img
                      src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a705912aaeb_facebook%20big%20filled.svg"
                      loading="lazy" alt="" /></a><a href="https://www.twitter.com"
                  class="footer-social-link-three w-inline-block"><img
                      src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124ab37a12aaf0_twitter%20big.svg"
                      loading="lazy" alt="" /></a><a href="https://www.youtube.com/@lordhoodme"
                  class="footer-social-link-three w-inline-block"><img
                      src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a717f12aaea_youtube%20small.svg"
                      loading="lazy" alt="" /></a></div>
      </div>
      <div class="footer-divider-two"></div>
      <div class="footer-bottom">
          <div class="footer-copyright">© 2023 Lordhood. All rights reserved</div>
          <div class="footer-legal-block"><a href="assets/TermAndCondition.pdf" download class="footer-legal-link">Privacy Policy</a></div>
      </div>
  </div>
</section>